<!--<div [formGroup]="loginForm"  class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">-->
<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">


  <div class="login-box card">
    <div class="card-body">

      <div *ngIf="loginform">

        <mat-error *ngIf="userOrEmailTaken">
          {{errorMessageDisplay}}
        </mat-error>

        <form [formGroup]="loginForm" class="form-horizontal form-material" id="loginForm" >
          <h3 class="box-title m-b-20">Sign In</h3>

            <div class="col-xs-12">
              <!--<input class="form-control" type="text" required="" placeholder="Username"> </div>-->
              <mat-form-field>
                <input matInput  [formControl]="usernameFormControl" type="text" placeholder="Username" name="username" [(ngModel)]="username" required>
              </mat-form-field>
              <!--[ngClass]="{'d-none': username}"-->

          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <!--<input class="form-control" type="password" required="" placeholder="Password"> </div>-->
              <mat-form-field>
                <input matInput [formControl]="passwordFormControl" type="password" placeholder="Password" name="password" [(ngModel)]="password"  required>
              </mat-form-field>
              <!--[ngClass]="{'d-none': password}"-->
            </div>
          </div>


<!--          <div class="form-group">-->
<!--            <mat-error *ngIf="usernameInvalid">{{getErrorMessage()}}</mat-error>-->
<!--          </div>-->

          <div class="form-group row">
            <div class="col-md-12">
              <mat-checkbox [formControl]="checkboxFormControl"  id="customCheck1" name="rememberMe" [(ngModel)]="rememberMe">
              </mat-checkbox>
              <label style="margin-left: 2px;margin-top: 4px;" for="customCheck1">Remember Me</label>
              <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
            </div>
<!--            <div class="col-md-12 font-14">-->
<!--              <div class="custom-control custom-checkbox">-->
<!--                <input type="checkbox" class="custom-control-input" id="customCheck1">-->
<!--                <label class="custom-control-label" for="customCheck1">Remember me</label>-->
<!--                <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <!--<a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/dashboard/dashboard1']">Log In</a>-->
              <a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="login()" [class.disabled]="!loginForm.valid">Log In</a>
            </div>
          </div>
        </form>
          <!--<div class="row">-->
          <!--<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">-->
          <!--<div class="social">-->
          <!--<button class="btn btn-facebook m-r-10" placement="top" ngbTooltip="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </button>-->
          <!--<button class="btn btn-googleplus" placement="top" ngbTooltip="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </button>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              <div>Don't have an account? <a class="text-info m-l-5" [routerLink]="['/authentication/signup']"><b>Sign Up</b></a></div>
            </div>
          </div>

      </div>


      <div *ngIf="recoverform">

        <form [formGroup]="passwordRecoverForm" class="form-horizontal" id="recoverformdiff" >


          <div class="form-group ">
            <div class="col-xs-12">
              <h3>Recover Password</h3>
              <p class="text-muted">Enter your Email or Username and instructions will be sent to you! </p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <mat-form-field>
                <input [formControl]="emailFormControl" matInput type="text" placeholder="Email" name="email" (change)="clearUsername()" [(ngModel)]="email">
              </mat-form-field>
              <!--<input class="" type="text" required="" placeholder="Email"> </div>-->
            </div>
            <div class="col-xs-12">
              <mat-form-field>
                <input [formControl]="usernameFormControl" matInput type="text" placeholder="Username" name="username" (change)="clearEmail()" [(ngModel)]="username">
              </mat-form-field>
              <!--<input class="" type="text" required="" placeholder="Email"> </div>-->
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" (click)="initResetToken()" [class.disabled]="(!emailFormControl.valid && !usernameFormControl.valid)">Reset</a>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <div>Return to Login? <a class="text-info m-l-5" (click)="showLoginForm()" [routerLink]="['/authentication/login']"><b>Sign In</b></a></div>
          </div>
        </div>

      </div>

      <div *ngIf="resetpasswordform">
        <!-- start new form here - reset password form -->
        <form [formGroup]="passwordResetForm" class="form-horizontal" id="resetpasswordform">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>Enter new password</h3>
              <p class="text-muted">Enter your new password!</p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <mat-form-field>
                <input matInput [formControl]="passwordFormControl" type="password" placeholder="Password" name="password" [(ngModel)]="password"  required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <mat-form-field>
                <input matInput [formControl]="passwordFormControl" type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword"  required>
                <mat-error *ngIf="!passwordsMatch()">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group ">
<!--            <div class="col-xs-12">-->
<!--              <mat-form-field>-->
<!--                <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>-->
<!--              </mat-form-field>-->
<!--              &lt;!&ndash;<input class="" type="text" required="" placeholder="Email"> </div>&ndash;&gt;-->
<!--            </div>-->
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [class.disabled]="!passwordResetForm.valid" (click)="initChangePassword()">Submit</a>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
